body {
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
   
    overflow-x: hidden;
}

header {
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
   
    
    


}

.wrapper {
    max-width: 2500px;
    margin: auto;
    padding: 0;
}

.center {
   
    margin: auto;

}

nav {
   
    
    

}

.nav-ul {
    list-style-type: none;
    margin-left: 1.5em;
    padding: 0;
    display: inline;
    margin-right: 1.5em;
}

.nav-li {
    display: inline;
    border-right:1px solid #bbb;
}

#div1 {
    display: inline-block;
}

#div1 > img {
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.nav-li:nth-child(4) {
    border-right: none;
}


.nav-li a {
    color: #0d0d0d;
    padding: 0.8em;
    font-size: 0.8em;

}

.nav-li a:hover {
    color: #808080;
}

.no-background { 
     background: none;
}

select {
    border: none;
}

#form1 {
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    margin-top: 2em;


}
#searchBox {
   width: 82%;
   border: none;
    outline: none;
    padding: 0;
    padding-right: 0;
    margin-right: 0;
    background: white url(../images/divider.png) right center no-repeat;
    text-align: left;
    text-overflow: clip;
    
}

.sub {
    background: white url("../images/searchBtn.png") left bottom no-repeat; 
    cursor: pointer; 
    border: none;
    position: relative;  
    bottom: 0;
    outline: none;
}

input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 0.2em 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

nav  a:link {
    text-decoration: none;
}

#div1 a {
    color: #0d0d0d;
}

#div1 a:hover {
    text-decoration: underline;
}

#imgSearch {
    border: 1px solid #bbb;
    padding-left: 0;
    margin-left: 0;
}



.section1 {
    padding: 0;
    box-sizing: border-box;
    margin-top: 1em;
    background: url("../images/slide-bg-complexity.jpg") center top no-repeat fixed;
   
    background-size: contain;
   

}

.h1s {
    font-size: 2.5em;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
    padding-top: 1em;
    margin:0;
    padding-bottom: 0;
    margin-bottom: 0;

}

.h2s {
    font-size: 1em;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
    padding-top: 0;
}

.bold {
    font-weight: bold;
}

.asside1 {
    display: inline;
    width: 100px;
    
    padding-right: 5em;
    box-sizing: border-box;
}

.section2 {
    box-sizing: border-box;
    padding-left: 30em;
}

#btn1 {
    background: #008CBA url("../images/btnArrow.png") no-repeat center right 1em;
   
    border-radius: 12px;
    color: white;
    font-size: 1em;
    border:none;
    width: 12em;
    height: 2.5em;
    text-align: left;
    padding-left: 1em;
    padding: 0.6em 1em;
    box-shadow: 0 .2em gray;
}

 #btn1:hover {
    opacity: 0.8;

}