@media only screen and (max-width: 775px) {

.wrapper-mobile {
    max-width: 775px;
    margin: auto;

    //text-align: center;
    //padding: 0;
}

nav {
    width: 100%;
    display: block;
    margin-top: 0.5em !important;
}
.mobile {
    display: inline-block;
}

.full {
    display: none;
}

.dropbtn {
    float: left;
    margin: 0.5em 0.5em;
    cursor: pointer;
}

.dropdown {
    float: left;
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    margin-top: 40px;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #595959;
}

.searchMobile {
    float: right;
    position: absolute;
    margin-top: 0.5em;
    //margin-right: 0.6em;
    padding-top: 0.2em;
    padding-bottom: 0;
    padding-left: 0.6em;
    border: 1px solid #808080;
    background-color: #e0e0d1;
}

#lab {
    margin-top: 0.4em;
    margin-right: 0.3em;
    float: right;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    border: 1px solid #808080;
    background-color: #e0e0d1;
}

#imSearch {
    box-sizing: border-box;
width: 90% !important;
height: 90% !important;
}

#form2 {
    display: none;
    max-width: 800px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    margin-top: 1em;
}

#searchBox2 {
    width: 90%;
    border: none;
    outline: none;
    padding: 0;
    padding-right: 0;
    margin-right: 0;
    background: white url(../images/divider.png) right center no-repeat;
    text-align: left;
    text-overflow: clip;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.sub2 {
    background: white url("../images/searchBtn.png") right bottom no-repeat; 
    cursor: pointer; 
    border: none;
    outline: none;
    margin-left: 1em;
}


#in {
     display: none;  
    float: right;  
}

#in:checked ~ #form2  {
    display: block; 
   
    background: white;
        margin-top: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        height: 25px;
        max-width: 770px;
}

.mob-cen { 
    margin: auto;
    text-align: center;
}

#blue-back {
    background: url("../images/weDoBG.png") repeat;
    background-color: #4da6ff; 
    opacity: 0.97;
    color: white;
    padding: 1em 6em 1em .5em;
    text-align: left;

}
.section1-mob {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    //margin: 0;
    //background: url("../images/slide-bg-complexity.jpg") center bottom no-repeat fixed;
    list-style-type: none;
    //background-size: cover;
    padding-bottom: 2em;
   padding: 1em 0 1em 0;
}

.slide1-mob {
    background: url("../images/slide-bg-complexity-mobile1.jpg") center center no-repeat fixed;
    padding: 0;
    list-style-type: none;
    //background-size: 100%;

    //box-sizing: border-box;

}

.h1s-mob {
    font-size: 2.5em;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: normal;
    
   // padding-left: 0.5em;
    margin: 0;
    //padding-bottom: 0;
    //margin-bottom: 0;
    text-align: left;
}

.h2s-mob {
    font-size: 1.8em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
    padding-top: 0;
}

#wheel-back {
    padding: 1em 0 1em .5em;
    

}

.squareButtons-mob {
    padding-top: 10em;
    //padding-bottom: 5em;
}

#a1-mob {
    //padding-top:1em;
    //margin-left: 1em;
    //box-sizing: border-box;
}
#btn1-mob {
    
    background: #008CBA url("../images/btnArrow.png") no-repeat center right 1em;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    border: none;
    width: 12em;
    height: 2.5em;
    text-align: left;
    padding-left: 1em;
    padding: 0.6em 1em;
    box-shadow: 0 .1em gray;
}

.buttonSq-mob {
    width: 40px;
    height: 40px;
    color: gray;
    border-radius: 6px;
    //background-color: white;
    border: none;
    text-decoration: none;
    padding-top: 8px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    margin-right: 10px;
    cursor: pointer;
}

.buttonSq-mob:not(.buttonActive) {
    background-color: #FAFAF7;

}

.buttonSq-mob:hover:not(.buttonActive) {
    background-color: #008CBA;
    color: white;
}

.buttonActive {
    background-color: #008CBA;
    color: white;
}
.max-mob {
    max-width: 775px;
}

.boxButton-mob {
    width: 100%;
   // height: 500px;
    //margin-top: 10px;
    display: block;
}

.line-background {
    width: 100%;
    height: 10px;
    background: #f2f2f2;
}

.slide2-icon-mob {
    width: 130px;
    height: 130px;
}

#box1-mob {
    background: #ff33cc url("../images/link-icon.png") no-repeat bottom 1em left 0.5em;
    opacity: 0.85;
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    padding: 16px 12px;
    line-height: 26px;
    margin: 0;
    letter-spacing: 0px;
    font-weight: lighter;
}

#box1-mob:hover {
    opacity: 1;
}

#box3-mob {
    background: #ff751a url("../images/play-icon.png") no-repeat bottom 1em left 0.5em ;
    opacity: 0.85;
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    padding: 16px 12px;
    line-height: 26px;
    margin: 0;
}

#box3-mob:hover {
    opacity: 1;
}

#box2-mob {
    background: #33cc33 url("../images/file-icon.png") no-repeat bottom 1em left 0.5em ;
    opacity: 0.85;
    color: white;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    padding: 16px 12px;
    line-height: 26px;
}

#box2-mob:hover {
    opacity: 1;
}

.slide3-mob {
    width:100%;
    height: 100%;
    background: #4d94ff;
    text-align: center;
    margin-top: 10px;

}

#slide3-title-mob {
    font-size: 2em;
    color: white;
    padding-top: 1.5em;
    font-weight: 100;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-top: 0;

}

.slide3-back {
     width:100%;
    height: 100%;
     background: #3385ff;
    //background: url("../images/services-bg.png") repeat-y ;
    text-align: center;
}
.icons-mob {
    width:70%;
    height: 100%;
    padding: 0;
}
.icons-li-mob {
    display: inline-block;
    //float: left;
    margin-right: 8px;
}

.sl3-down-mob {
    width: 100%;
    height: auto;
    text-align: center;

}

.height {
    height: 150px;
    width: 60%;
    padding: 0;
    margin: auto;
}

.slide4-mob {
    width:100%;
    background: url("../images/news-and-events-bg.jpg") no-repeat 40% fixed;
    text-align: center;
    display: inline-block;
    background-size: cover;
}

.icon-box-mob {
    width: 105px;
    height: 100px;
    cursor: pointer;
}
.icons-li-last {
    margin-right: 0;
}

.slide2-icon-name {
    font-size: 0.3em;
}

.icon1-pic {
    background: transparent url("../images/data-monetization.png") no-repeat bottom center;
}

.icon1-pic:hover {
    background: transparent url("../images/data-monetization-hover.png") no-repeat bottom center;
}

#slide4-title-mob {
    font-size: 2em;
    font-weight: 100;
    color: white;
    margin-top: 0;
    padding-top: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

#sl3-box1 {   
    float: none;
    margin-bottom: 20px;
}

#sl3-box3 {
    float: none;
    margin-bottom: 40px;
}

#sl3-box2 {
    margin-bottom: 20px;
}

.slide5-mob {
    width:100%;
    //height: 200px;
    background: #e6e6ff;
    
    text-align: center;
    padding-bottom: 1em;
}

#slide4-title {
    font-size: 2em;
    font-weight: 100;
    color: gray;
    margin-top: 0;
    padding-top: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

.sl4-big-box {
    width: 337px;
   float: none;
   margin: auto;
   display: block;
}

.sl4-box-icons {
    width: 333px;
}

.sl4-box1-up {
    width: 317px;
    float: left;
   
}

.sl4-box3-up {
    width: 210px;
    float: left;
}

.sl4-box-text {
    width: 212px;
    float: right;
}


.sl4-box-image {
    display: inline-block;  
    float: left;    
}

.sl4-box1-down {
    width: 317px;
    display: inline-block;
}

.sl4-box3-down {
    width: 210px;
    display: inline-block;
}

.sl4-box1-t1 {
    //width: 130;
    vertical-align: top;
    display: inline-block;
    float: left;
    text-align: left;

}



.sl4-box-a-small {
    background: white;
    display: inline-block;
    padding: 10px;
    width: 105px;
    height: 105px;
    float: left;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

}

.no-margin {
    margin-right: 0;
}

.tran {
    width: 90px;
}

.foot-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000%;
    //background-color: #f1f1f1;
    position: relative;
}

.foot-li a {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 1.5em;

}

.special {
    //width: 500px;
    //display: inline-block;
    //float: left;
    
}

.foot-li a:hover {
    background-color: #555;
    color: white;
}

.col4-contact {
    display: block;
    //margin: 0;
    padding-top: 0;
   // float: left;
    position: absolute;
    margin-right: 50px;
    margin-left: 400px;
    margin-top: -75px;
}

#lang {
    position: relative;
    margin-top: -30px;
    margin-left: 120px;

}
}